<h1>10 Most Recent Songs - Search by Artist's Name</h1>

<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :q %>
  <%= submit_tag "search" %>
<% end %>

<h2> Results for <%= params[:q] || "Adele" %></h2>

<ol>
  <% for track in @tracks %>
  <li><%= image_tag track[:artworkUrl60] %><%= track[:trackName] %><a href="<%= track[:previewUrl] %>" target="_blank">Preview Song</a></li>
  <% end %>
</ol>